<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络社区</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    .shuiping li{
        display:inline-block;
    }
    </style>
</head>
<body>
<div class="container">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="{{ url_for("index") }}">网络社区</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
             <li class="nav-item" id="nav-1">
                 <a class="nav-link" href="{{ url_for("index") }}">首页<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item" id="nav-3">
                 <a class="nav-link" href="{{ url_for("event") }}">时事</a>
             </li>
             <li class="nav-item" id="nav-4">
                <a class="nav-link" href="{{ url_for("entertainment") }}">娱乐</a>
             </li>
             <li class="nav-item" id="nav-5">
                 <a class="nav-link" href="{{ url_for("life") }}">生活</a>
             </li>
             <li class="nav-item" id="nav-6">
                 <a class="nav-link" href="{{ url_for("science") }}">科技</a>
             </li>
             <li class="nav-item" id="nav-7">
                 <a class="nav-link" href="{{ url_for("trip") }}">旅游</a>
             </li>
         </ul>
     <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
     </form>
      <ul class="nav navbar-nav navbar-right">
          {% if "username" in session %}
          <li class="nav-item" id="nav-8">
             <a class="nav-link" href="{{ url_for("user_center") }}">个人中心</a>
          </li>
          <li class="nav-item" id="nav-9">
             <a class="nav-link" href="{{ url_for("logout") }}">退出</a>
          </li>
          {% else %}
          <li class="nav-item" id="nav-10">
             <a class="nav-link" href="{{ url_for("login") }}">登录</a>
          </li>
          <li class="nav-item" id="nav-11">
             <a class="nav-link" href="{{ url_for("regist") }}">注册</a>
          </li>
          {% endif %}
      </ul>
  </div>
</nav>

{% block content %}

{% endblock %}

</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div align="center">
        <small class="text-muted">&copy; 2018-2019</small>
    </div>
</footer>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!--
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>



{% block jscode %}

{% endblock %}

</body>
</html>