{% extends "user_center.html" %}

{% block article_manage %}
<div class="col-md-10">
    <form class="form" method="POST">
        <h1 class="h3 mb-3 font-weight-normal text-center">我的文章</h1>
        <hr>
        <div class="form-group row">
            <button id="published" type="button" class="btn btn-outline-info btn-sm col-md-1">已发布</button>
            <button id="draft" type="button" class="btn btn-outline-info btn-sm col-md-1">草稿箱</button>
            <button id="newarticle" type="button" class="btn btn-outline-info btn-sm col-md-1">新建</button>
        </div>
        <div class="form-group row">
            <label for="article_title" class="col-md-2">请输入标题</label>
            <input class="form-control col-md-8" id="article_title" name="article_title" type="text">
        </div>
        <div class="form-group row">
            <label for="article_tag" class="col-md-2">请选择标签</label>
            <label class="radio-inline col-md-1">
                <input type="radio" value="event" name="fenlei">时事
            </label>
            <label class="radio-inline col-md-1">
                <input type="radio" value="entertainment" name="fenlei">娱乐
            </label>
            <label class="radio-inline col-md-1">
                <input type="radio" value="life" name="fenlei">生活
            </label>
            <label class="radio-inline col-md-1">
                <input type="radio" value="science" name="fenlei">科技
            </label>
            <label class="radio-inline col-md-1">
                <input type="radio" value="trip" name="fenlei">旅游
            </label>
            <p id="message" style="color: #ff0000;"></p>
        </div>
        <textarea id="summernote" name="editor"></textarea>
        <br>
        <div class="form-group row">
            <button id="save" type="button" class="btn btn-secondary offset-md-5">保存</button>
            <button id="submit" type="button" class="btn btn-success">提交</button>
        </div>
    </form>
</div>
{% endblock %}

{% block jscode %}
    <script>
    $(document).ready(
        function () {
            $("#item-1").addClass('list-group-item-success');
            $('#summernote').summernote({
                placeholder: '在此输入文本',
                tabsize: 2,
                height: 400
            });
            $("#newarticle").addClass("active");
        }
    );

    $("#published").click(
        function () {
            location.href="{{ url_for("published") }}"
        }
    );

    $("#draft").click(
        function () {
            location.href="{{ url_for("draft") }}"
        }
    );

    $("#newarticle").click(
        function () {
            location.href="{{ url_for("newarticle") }}"
        }
    );
    
    $("#save").click(function() {
        var title = $("#article_title").val();
        var tag = $("input[type=radio][name=fenlei]:checked").val();
        var content = $("#summernote").val();
        var data = {
            data : JSON.stringify({
                "title": title,
                "tag": tag,
                "content": content
            })
        };
        $.ajax({
            url: "/article_save",
            type: "POST",
            data: data
        }).done(function (data) {
            if(data==="100"){
                $("#article_title").after("<p style='color: #ff0000;'>请输入标题<p>")
            }
            else if(data==="200"){
                $("#message").append("请选择标签")
            }
            else if(data==="300"){
                $("#submit").after("<p class='offset-md-2' style='color: #ff0000;'>未输入内容<p>")
            }
            else{
                alert("保存成功")
            }
        })
    });

    $("#submit").click(function() {
        var title = $("#article_title").val();
        var tag = $("input[type=radio][name=fenlei]:checked").val();
        var content = $("#summernote").val();
        var data = {
            data : JSON.stringify({
                "title": title,
                "tag": tag,
                "content": content
            })
        };
        $.ajax({
            url: "/article_submit",
            type: "POST",
            data: data
        }).done(function (data) {
            if(data==="100"){
                $("#article_title").after("<p style='color: #ff0000;'>请输入标题<p>")
            }
            else if(data==="200"){
                $("#message").append("请选择标签")
            }
            else if(data==="300"){
                $("#submit").after("<p class='offset-md-2' style='color: #ff0000;'>未输入内容<p>")
            }
            else{
                alert("提交成功")
            }
        })
    });


    </script>
{% endblock %}

